<div>
  <h1>Cambiar Contrase単a</h1>
  <form id="changePasswordForm">
    <label>Nueva Contrase単a</label>
    <input id="newPasswordInput" name="newPassword" type="password" required />
    <br />
    <label>Confirmar Nueva Contrase単a</label>
    <input
      id="confirmPasswordInput"
      name="confirmPassword"
      type="password"
      required
    />
    <input type="hidden" id="tokenInput" name="token" value="{{token}}" />
    <br />
    <button type="submit">Cambiar Contrase単a</button>
  </form>
</div>
<script src="/static/js/changePassword.js"></script>