<div>
  <h1>User</h1>
  <ul>
    <li>
      <p>Name: {{user.first_name}}</p>
      <p>Last Name: {{user.last_name}}</p>
      <p>Email : {{user.email}}</p>

       <a href="javascript:history.back()"><button>Volver atrás</button></a>
    </li>
  </ul>
</div>
