<div>
  <h1>Recuperar Contraseña</h1>
  <form id="resetPasswordForm">
    <label>Ingrese su Email</label>
    <input name="email" id="emailInput" type="email" required />
    <br />
    <button type="submit">Enviar</button>
  </form>
  <p>¿Recuerdas tu contraseña? <a href="/login">Inicia sesión</a></p>
</div>
<script src="/static/js/resetPassword.js"></script>